.dateComponent{
	padding: 20px;
}
.yearNames{
	font-size: 25px;
	color: #bfbfbf;
}
.monthContainer{
	width: 600px;
}
.monthNames{
	border: solid 1px #bfbfbf;
	margin: 0 -1px -1px 0;
	float: left;
	display: block;
}
.monthNames a{
	cursor: pointer;
	color: #bfbfbf;
	background: #FFF;
	height: 60px;
	padding: 15px 0;
	text-align: center;
	font-size: 20px;
	width: 99px;
	transition: background-color 0.5s ease;
	text-decoration: none;
	display: block;
}
.monthNames a:hover{
	border: solid 1px #89cacd;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    text-decoration: none;
	color: #89cacd;
}
.monthNames.selected a{
	color: #bfbfbf;
	background: #f0f0f0;
}
.monthNames.between a{
	color: #FFF;
	background: #89cacd;
}
.clear{clear: both;}
